.content-wrapper {
  background-color: #f6f4f6;
}

/* Navbar */
.navbar-nav a {
  font-size: 18px;
}

.auth-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-form-container h2 {
  color: #333;
}

.auth-form-container form {
  margin-top: 20px;
}

.auth-form-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.auth-form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff9f1c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form-container .link-btn {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

/* Mobile devices */
@media (max-width: 767px) {
  /* Adjust the styles for mobile devices here */
  .container {
    padding: 10px;
  }

  .navbar {
    padding: 10px;
  }

  .card {
    margin-bottom: 10px;
  }
}

/* Tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust the styles for tablets and small desktops here */
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .navbar {
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}

/* Larger desktops */
@media (min-width: 992px) {
  /* Adjust the styles for larger desktops here */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar {
    padding: 30px;
  }

  .card {
    margin-bottom: 30px;
  }
}

.button-add-to-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.button-add-to-cart:hover {
  background-color: #291800;
  color: #000000;
}

.checkout-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkout-button {
  background-color: #b5b0a1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #b5b0a1;
}

.empty-button {
  background-color: #b5b0a1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-button:hover {
  background-color: #b5b0a1;
}


.footer {
  background-color: #ff9f1c;
  color: #fff;
  padding: 30px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-nav li {
  margin-right: 10px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #000;
}

.active {
  font-weight: bold;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;
  padding-top: 20px;
}

.footer-bottom span {
  margin-right: 10px;
}

.footer-bottom span:last-child {
  margin-right: 0;
}

/* NavBar */
.navbar-light {
  background-color: #ff9f1c;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #000;
}

.active {
  font-weight: bold;
}

.btn-primary {
  background-color: #ff9f1c !important;
  border-color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ff9f1c !important;
  border-color: #ffffff !important;
}

.about-us {
  color: #ff9f1c !important;
}

.text-primary {
  color: #ff9f1c !important;
}
